@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #3b82f6;
  --color-primary-dark: #2563eb;
}

:root {
  color-scheme: dark;
}

body {
  @apply bg-gray-950 text-gray-100 font-sans antialiased;
}
